:global * {
  box-sizing: border-box;
}

:global html {
  width: 100%;
  height: 100%;
  font-size: 16px;
}

:global body {
  margin: 0;
  background-color: $white-smoke;
  color: $light-charcoal;
  font-family: $san-serif;
  font-size: $ms1;
  font-weight: 300;
  line-height: 1.5;
  width: 100%;
  height: 100%;
}

:global h1,
:global h2,
:global h3,
:global h4,
:global h5,
:global h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $serif;
}

:global h1, :global .h1 {
  font-size: $ms6;
}

:global h2, :global .h2 {
  font-size: $ms5;
}

:global h3, :global .h3 {
  font-size: $ms4;
}

:global h4, :global .h4 {
  font-size: $ms3;
}

:global h5, :global .h5 {
  font-size: $ms2;
}

:global h6, :global .h6 {
  font-size: $ms1;
}

:global a {
  color: #fff;
  text-decoration: none;
}

:global a:hover {
  color: $coral;
  text-decoration: none;
}

:global img {
  max-width: 100%;
  height: auto;
}

:global ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

:global ul li {
  margin: 0;
  padding: 0;
}
