// Fonts
// ------
$san-serif: 'Raleway', sans-serif;

// Colors
// ------
// grayscale (light->dark)
$white: #ffffff;
$alabaster: #f9fafc;
$white-smoke: #f3f5f9;
$light-gray: #b5bcc9;
$light-charcoal: #2a2b2d;

// colors
$coral: #fe787c;
$viking: #4dbece;

// Layout
// ------
$ms1: 1em;
$ms2: 1.5em;
$ms3: 2.25em;
$ms4: 3.375em;
$ms5: 5.063em;
$ms6: 7.594em;

// Transitions
// -----------
$transition-all-fast: all 200ms ease;
