@import "../../styles/variables";

.default {
  padding: 0 $ms2;
  background-color: $white;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.05);
}

.inactive {
  padding: $ms1 $ms2;
  color: $light-gray;
  cursor: default;
  text-align: center;
  user-select: none;
}

.default-viking {
  composes: default;
  border-top: 4px solid $viking;
}
