@import "../../styles/variables";

.default {
  width: 30em;
  margin: $ms2;
}

.header {
  padding: $ms1;

  h4 {
    display: flex;
    align-items: center;
  }

  button {
    display: none;
    margin-left: auto;
  }

  &:hover {
    button {
      display: block;
    }
  }
}
