@import "../../styles/variables";

.default {
  width: 100%;
  padding: 0.25em 0;
  background-color: transparent;
  border: 1px solid $white-smoke;
  color: $light-charcoal;
  font-family: $san-serif;
  font-size: $ms1;
  font-weight: 300;
  transition: $transition-all-fast;

  &:focus {
    color: $light-charcoal;
    outline: none;
  }
}

.seamless {
  composes: default;
  border: none;
  padding: 0;
}

.seamless--header {
  composes: seamless;
  font-family: $serif;
  font-weight: 300;
}
